<div class="container">
	<div class="col-md-offset-2 col-md-8 well">
		<h1>New Friendship</h1>
	</div>
	<div class="col-md-offset-2 col-md-8 well">
		<%= render 'form' %>
		<%#Same situation again with exra div%>
		<%= link_to 'Back', friendships_path, :class => "btn btn-danger" %>
		</div>
	</div>
</div>
