<nav class="navbar navbar-default navbar-fixed-bottom">
	<div class="container">
	<div class="collapse navbar-collapse">
	<p class="navbar-text navbar-right">
		Expert Search Tool Example - <a href="http://kyleselman.co.uk">Kyle Selman</a> - 2014
	</p>
	</div>
	</div>
</nav>
