
<div class="jumbotron text-center">
<h1>Edit Expert</h1>
<%= link_to 'Go to Expert', @expert, :class => "btn btn-info" %> 
</div>
	
<div class="col-md-offset-2 col-md-8">

	<%= render 'form' %>


		<%= link_to 'Back', experts_path, :class => "btn btn-danger" %>
	</div>
</div>

